<?xml version="1.0" encoding="UTF-8"?>
<suite  name=" nopcommerce Regression suit">
<parameter name="browser" value ="Chrome"></parameter>
  <test name="Regression Test">
    <classes>
      <class name="tests.UserRegistraionTest"/>
      <class name="tests.SearchProductUsingAutoSuggestTest"/>
      <class name="tests.MyAccountTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
